.h-sidebar{
    height: calc(100vh - 80px);
}
.bg-smam1{
    background-color: #013880;
}
.bg-smam1-a{
    background-color: rgba(32, 65, 127, 0.5);
}
.bg-smam1-a-2{
    background-color: rgba(32, 65, 127, 0.8);
}
.text-smam1{
    color: #013880;
}
.fixed-x-center{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}
.absolute-x-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.fixed-y-center{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}
#dots-container{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}
.slick-dots{
    position: absolute !important;
    bottom: 100px !important;
    text-align: left !important;
    margin-left: 50px !important;
}
.mydot{
    max-width: 1024px;
    display: flex !important;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.mydot2{
    max-width: 1024px;
    display: flex !important;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
.slick-active > .custom-paging{
    width: 5rem;
}
.slick-slider{
    margin-bottom: 2.5rem;
}
.hamburger-white{
    filter: invert(1);
}
.hamburger-smam1{
    filter: invert(11%) sepia(49%) saturate(6517%) hue-rotate(205deg) brightness(95%) contrast(101%);
}
.news-content{
    display: none;
}
.news-category{
    transition: 1s;
    top: -0.75rem;
}
.news-button{
    display: none;
}
.card-content-wrapper{
    height: 120px;
    transition: all 700ms;
    transition-timing-function: ease;
}
.card-news:hover .news-content{
   display: block;
}
.card-news:hover .card-content-wrapper{
    height: 100%;
}
.card-news:hover .news-category{
    top: 0;
}
.card-news:hover .news-button{
    display: flex;
}